{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 mb-5" style="max-width: 400px;">
    <div class="card p-4 border-dark rounded-0 shadow">
        <h3 class="text-center fw-bold mb-4">Enter OTP</h3>
        <p class="text-center text-muted">Aapke email par 6-digit ka OTP bheja gaya hai. Kripya apna Inbox ya Spam folder check karein.</p>
        
        <form method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label class="form-label fw-bold">6-Digit OTP</label>
                <input type="text" name="otp" class="form-control rounded-0 border-dark text-center fs-4" required placeholder="XXXXXX" maxlength="6">
            </div>
            <button type="submit" class="btn btn-dark w-100 rounded-0 fw-bold">Verify & Login</button>
        </form>
    </div>
</div>
{% endblock %}