{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 mb-5" style="max-width: 500px;">
    <div class="card p-4 border-0 rounded-4 shadow">
        <h3 class="text-center fw-bold mb-4">Update Password 🔑</h3>
        <p class="text-muted text-center">Kripya apna purana password aur naya password yahan dalein.</p>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-premium-primary w-100 rounded-pill py-2 fw-bold mt-3">Change Password</button>
        </form>
        <div class="mt-4 text-center">
            <a href="{% url 'profile' %}" class="text-dark fw-bold text-decoration-none">🔙 Back to Profile</a>
        </div>
    </div>
</div>
{% endblock %}