{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 mb-5" style="max-width: 400px;">
    <div class="card p-4 border-dark rounded-0 shadow">
        <h3 class="text-center fw-bold mb-4">Create Account</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark w-100 rounded-0 fw-bold">Register</button>
        </form>
        <div class="mt-3 text-center">
            <p>Pehle se account hai? <a href="{% url 'login' %}" class="text-dark fw-bold">Login karein</a></p>
        </div>
    </div>
</div>
{% endblock %}