{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 mb-5" style="max-width: 400px;">
    <div class="card p-4 border-dark rounded-0 shadow">
        <h3 class="text-center fw-bold mb-4">Create Account</h3>
        <p class="text-muted text-center">Bina kisi password ke asani se account banayein!</p>
        
        <form method="POST">
            {% csrf_token %}
            
            <div class="mb-3">
                <label class="form-label fw-bold">Full Name</label>
                <input type="text" name="name" class="form-control rounded-0 border-dark" required placeholder="Aapka Naam">
            </div>
            
            <div class="mb-4">
                <label class="form-label fw-bold">Email Address</label>
                <input type="email" name="email" class="form-control rounded-0 border-dark" required placeholder="email@example.com">
                <small class="text-muted">Isi email par aapko login OTP milega.</small>
            </div>
            
            <button type="submit" class="btn btn-dark w-100 rounded-0 fw-bold">Sign Up Now</button>
        </form>
        
        <div class="mt-3 text-center">
            <p>Pehle se account hai? <a href="{% url 'login' %}" class="text-dark fw-bold">Login karein</a></p>
        </div>
    </div>
</div>
{% endblock %}