<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shipping Labels</title>
    <style>
        @page {
            size: 100mm 150mm;
            margin: 4mm;
        }
        body {
            font-family: Helvetica, Arial, sans-serif;
            color: #000000;
            font-size: 11px;
            line-height: 1.4;
        }
    </style>
</head>
<body>

    {% for order in orders %}
    <!-- No CSS classes for table, strictly HTML4 attributes -->
    <table width="260" border="1" cellpadding="8" cellspacing="0">
        <tr>
            <td width="180">
                <font size="3"><b>STANDARD DELIVERY</b></font><br />
                Partner: Trackon / Shree Maruti
            </td>
            <td width="80" align="center">
                <b>Prepaid</b><br />
                {{ order.created_at|date:"d-m-Y" }}
            </td>
        </tr>
        
        <tr>
            <td colspan="2" align="center">
                <br />
                <!-- Strict width and height attributes -->
                <img src="https://bwipjs-api.metafloor.com/?bcid=code128&text=AWB{{ order.id }}998877&includetext=false" width="200" height="45" /><br /><br />
                <b>AWB: AWB{{ order.id }}998877</b>
                <br />
            </td>
        </tr>

        <tr>
            <td width="180">
                Deliver To:<br />
                <font size="3"><b>{{ order.customer_name }}</b></font><br />
                {{ order.address }}<br />
                <b>Ph: {{ order.mobile_number }}</b>
            </td>
            <td width="80" align="center">
                <img src="https://api.qrserver.com/v1/create-qr-code/?size=55x55&data=RTE-{{ order.id }}" width="55" height="55" /><br />
                <b>NOH-01</b>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <u><b>BILL OF SUPPLY</b></u><br /><br />
                <b>Order ID:</b> #{{ order.id }} &nbsp;|&nbsp; <b>Weight:</b> 0.5 KG<br />
                <b>Total Amount:</b> Rs. {{ order.total_amount }}<br />
                <i>Do Not Collect Cash (Prepaid Order)</i>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                Return Address:<br />
                <b>Chachan General Store</b><br />
                Nohar, Rajasthan, India<br />
                Support: support@chachanstore.com
            </td>
        </tr>
    </table>

    {% if not forloop.last %}
        <pdf:nextpage />
    {% endif %}
    
    {% endfor %}

</body>
</html>