{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="text-center">Account Verification</h3>
            <p class="text-center">Ek 6-digit ka OTP <b>{{ email }}</b> par bheja gaya hai.</p>
            
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label>Enter OTP</label>
                    <input type="text" name="otp" class="form-control" placeholder="Enter 6-digit OTP" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Verify OTP</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}